*/__pycache__
*/__pycache__/*
*/*/__pycache__
*/*/__pycache__/*
*/*/*/__pycache__
*/*/*/__pycache__/*
.vercel
.venv
.venv/*
db.sqlite3
queens/settings.py
.venv/Lib/site-packages/asgiref/__pycache__/__init__.cpython-310.pyc
.venv/Lib/site-packages/asgiref/__pycache__/__init__.cpython-310.pyc
