{% extends './base_accounts.html' %}
{% load static %}

{% block title %}Log in{% endblock title %}

{% block card %}
<div class="card card-danger">
{% endblock %}

{% block content %}
  
  <div class="login-box-msg">
    <h3>Administrator's Login</h3>
    Sign in to start your session
  </div>

    <input type="hidden" name="next" value="{{ next }}">
    {% include '../includes/form_one_col_full.html' %}
{% endblock %}

{% block footer %}
    <div class="row">
      <div class="col text-right">
        <a href="{% url 'login' %}" class="btn btn-default">Back to Employee's Login</a>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Sign In</button>
      </div>
      <!-- /.col -->
    </div>
{% endblock%}