{% extends '../base.html' %}
{% load static form_tags %}

{% block title %}Branches{% endblock title %}

{% block page_title %}
{% if branch %}
Edit Branch
{% else %}
New Branch    
{% endif %}
{% endblock page_title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/asterisk_on_required.css' %}">
{% endblock css %}
    

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'branch_list' %}">Branches</a></li>
    <li class="breadcrumb-item active">
        
        {% if branch %}
            Edit
        {% else %}
            New
        {% endif %}
            
    </li>
{% endblock breadcrumb %}

{% block main_content %}
    <div class="card m-4">
        <form method="post" novalidate>
            {% csrf_token %}

            <div class="card-header">
                <h3 class="card-title">Please fill in all the fields marked with an <label class="required">asterisk</label>.</h3>
            </div>

            <div class="card-body">
                <div class="col-12">
                    {% include '../includes/form.html' %}
                </div>
            </div>
            
            <div class="card-footer">
                
                {% if not branch %}
                <button type="submit" class="btn btn-primary" name="another">Save and add another</button>
                {% endif %}
                    
                <button type="submit" class="btn btn-success" name="save">Save</button>
                <a href="{% url 'branch_list' %}" class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#menu-records").addClass("active")
        })
    </script>
{% endblock js %}