
        <li class="nav-item dropdown"> 
        <a class="nav-link" data-toggle="dropdown" href="#"> 
            <i class="far fa-bell"></i> 
            <span class="badge badge-warning navbar-badge" id="notif_num_unread">4</span> 
        </a> 
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right"> 
            <span class="dropdown-item dropdown-header">4 New Notifications</span> 
            <div class="dropdown-divider"></div> 
            <a href="#" class="dropdown-item"> 
            <i class="far fa-file mr-2"></i> Inventory Report ready 
            <span class="float-right text-muted text-sm">3 mins</span> 
            </a> 
            <a href="#" class="dropdown-item"> 
            <i class="far fa-edit mr-2"></i> Approval: Sales Report 
            <span class="float-right text-muted text-sm">12 hours</span>
            </a> 
            <a href="#" class="dropdown-item"> 
            <i class="far fa-edit mr-2"></i> Approval: PO#01234 
            <span class="float-right text-muted text-sm">2 days</span> 
            </a> 
            <a href="#" class="dropdown-item"> 
            <i class="fas fa-info mr-2"></i> PO#01233 approved 
            <span class="float-right text-muted text-sm">2 days</span> 
            </a> 
            <div class="dropdown-divider"></div> 
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a> 
        </div> 
        </li> 