        <li class="nav-item my-auto">
            <a href="{% url 'dashboard' %}" class="nav-link" id="menu_dashboard">Dashboard</a>
        </li>
        <li class="nav-item dropdown my-auto" id="menu-records">
            <a id="dropdownRecords" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Records</a>
            <ul aria-labelledby="dropdownRecords" class="dropdown-menu border-0 shadow">
                <li id="menu-clients">
                    <a class="dropdown-item" href="#">Clients</a>
                </li>
                <li id="menu-inventory">
                    <a class="dropdown-item" href="#">Inventory</a>
                </li>
                <li id="menu-ir">
                    <a class="dropdown-item" href="#">Interest Rates</a>
                </li>
                <li id="menu-sf">
                    <a class="dropdown-item" href="#">Service Fee</a>
                </li>
                <li id="menu-advance-ir">
                    <a class="dropdown-item" href="#">Advance Interest Rates</a>
                </li>
                <li id="menu-maturity">
                    <a class="dropdown-item" href="#">Days to Maturity</a>
                </li>
                <li id="menu-expiration">
                    <a class="dropdown-item" href="#">Days to Expiration</a>
                </li>
                <li id="menu-expense-cat">
                    <a class="dropdown-item" href="#">Expense Categories</a>
                </li>
                <li id="menu-branches">
                    <a class="dropdown-item" href="#">Branches</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown my-auto" id="menu-transactions">
            <a id="dropdownRecords" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Transactions</a>
            <ul aria-labelledby="dropdownRecords" class="dropdown-menu border-0 shadow">
                <li id="menu-new">
                    <a class="dropdown-item" href="#">New Pawn</a>
                </li>
                <li id="menu-renew">
                    <a class="dropdown-item" href="#">Renew Pawn</a>
                </li>
                <li id="menu-redeem">
                    <a class="dropdown-item" href="#">Redeem Pawn</a>
                </li>
                <li id="menu-cash-flow">
                    <a class="dropdown-item" href="#">Cash Flow</a>
                </li>
                <li id="menu-voucher">
                    <a class="dropdown-item" href="#">Expense Voucher</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown my-auto" id="menu-reports">
            <a id="dropdownRecords" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Reports</a>
            <ul aria-labelledby="dropdownRecords" class="dropdown-menu border-0 shadow">
                <li id="menu-logs">
                    <a class="dropdown-item" href="#">Ticket Logs</a>
                </li>
                <li id="menu-cash-count">
                    <a class="dropdown-item" href="#">Cash Count</a>
                </li>
                <li id="menu-auction">
                    <a class="dropdown-item" href="#">Items for Auction</a>
                </li>
                <li id="menu-income-stmt">
                    <a class="dropdown-item" href="#">Income Statement</a>
                </li>
                <li id="menu-expenses-itemized">
                    <a class="dropdown-item" href="#">Itemized Expenses</a>
                </li>
                <li id="menu-expenses-summarized">
                    <a class="dropdown-item" href="#">Summarized Expenses</a>
                </li>
                <li id="menu-non-renewal">
                    <a class="dropdown-item" href="#">Non-renewal Items</a>
                </li>
            </ul>
        </li>