        <li class="nav-item my-auto">
            <a href="{% url 'dashboard' %}" class="nav-link" id="menu_dashboard">Dashboard</a>
        </li>
        <li class="nav-item dropdown my-auto" id="menu-records">
            <a id="dropdownRecords" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Records</a>
            <ul aria-labelledby="dropdownRecords" class="dropdown-menu border-0 shadow">
                <li id="menu-clients">
                    <a class="dropdown-item" href="{% url 'client_list' %}">Clients</a>
                </li>
                <li id="menu-inventory">
                    <a class="dropdown-item" href="#">Inventory</a>
                </li>
                <li id="menu-expense-cat">
                    <a class="dropdown-item" href="{% url 'expense_category_list' %}">Expense Categories</a>
                </li>
                <li id="menu-expense-ir">
                    <a class="dropdown-item" href="{% url 'interest_rates' %}">Interest Rates</a>
                </li>
                <li id="menu-other-fees">
                    <a class="dropdown-item" href="{% url 'other_fees' %}">Other Fees</a>
                </li>
                <li id="menu-term">
                    <a class="dropdown-item" href="{% url 'term_duration' %}">Term Duration</a>
                </li>
                <li id="menu-branches">
                    <a class="dropdown-item" href="{% url 'branch_list' %}">Branches</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown my-auto" id="menu-transactions">
            <a id="dropdownTransactions" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Transactions</a>
            <ul aria-labelledby="dropdownTransactions" class="dropdown-menu border-0 shadow">
                <li id="menu-new">
                    <a class="dropdown-item" href="{% url 'pawn_list' %}">Pawn</a>
                </li>
                <li id="menu-cash-flow">
                    <a class="dropdown-item" href="#">Cash Flow</a>
                </li>
                <li id="menu-voucher">
                    <a class="dropdown-item" href="#">Expense Voucher</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown my-auto" id="menu-reports">
            <a id="dropdownReports" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Reports</a>
            <ul aria-labelledby="dropdownReports" class="dropdown-menu border-0 shadow">
                <li id="menu-logs">
                    <a class="dropdown-item" href="#">Ticket Logs</a>
                </li>
                <li id="menu-cash-count">
                    <a class="dropdown-item" href="#">Cash Count</a>
                </li>
                <li id="menu-auction">
                    <a class="dropdown-item" href="#">Items for Auction</a>
                </li>
                <li id="menu-income-stmt">
                    <a class="dropdown-item" href="#">Income Statement</a>
                </li>
                <li id="menu-expenses-itemized">
                    <a class="dropdown-item" href="#">Itemized Expenses</a>
                </li>
                <li id="menu-expenses-summarized">
                    <a class="dropdown-item" href="#">Summarized Expenses</a>
                </li>
                <li id="menu-non-renewal">
                    <a class="dropdown-item" href="#">Non-renewal Items</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown my-auto" id="menu-account">
            <a id="dropdownAccount" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                <i class="fas fa-user"></i>&nbsp;
                {% if user.get_full_name != "" %}
                    {{ user.get_full_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
            </a>
            <ul aria-labelledby="dropdownAccount" class="dropdown-menu border-0 shadow">
                <li id="menu-logs">
                    <a class="dropdown-item" href="#">Update Password</a>
                </li>
                <li id="menu-cash-count">
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </li>