{% extends '../base.html' %}
{% load static %}
{% load humanize %}
{% load form_tags %}

{% block title %}Pawns{% endblock title %}
{% block page_title %}Pawn details{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'pawn_list' %}">Pawns</a></li>
    <li class="breadcrumb-item active">Details</li>
{% endblock breadcrumb %}

{% block main_content %}

    <div class="card m-4">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                
                <div class="card card-primary m-4">
                    <div class="card-header">
                        <h3>Pawn Ticket # {{ pawn.getPTN }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">                                
                                <h4>{{ pawn.complete_description }}</h4>
                                <h5 class="card-subtitle mb-2 text-muted">Under {{ pawn.client }}</h5>
                                {% if pawn.renewed_from %}
                                <p class="card-text">Renewed from <a href="{% url 'pawn_detail' pawn.renewed_from.pk  %}">Pawn Ticket # {{ pawn.renewed_from.getPTN }}</a></p>
                                {% endif %}
                                <hr />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-6 col-md-12">
                                <p class="card-text"><span class="text-muted h4">Principal: </span><span class="h4">{{ pawn.principal|peso }}</span></p>
                                <p class="card-text"><span class="text-muted">LESS Service Charge: </span>{{ pawn.service_charge|peso }}</p>
                                <p class="card-text"><span class="text-muted">LESS Advance Interest: </span>{{ pawn.advance_interest|peso }}</p>
                                <p class="card-text"><span class="text-muted">NET PROCEEDS: </span><span class="h5">{{ pawn.net_proceeds|peso }}</span></p>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <p class="card-text"><span class="text-muted">Transaction Type: </span>{{ pawn.transaction_type }}</p>
                                <p class="card-text"><span class="text-muted">Appraised Value: </span>{{ pawn.appraised_value|peso }}</p>
                                <p class="card-text"><span class="text-muted">Branch: </span>{{ pawn.branch }}</p>
                                <p class="card-text"><span class="text-muted">Date Pawned: </span>{{ pawn.date_granted|date:"F d, Y (D)"|naturalday|default:'-' }}</p>
                                <p class="card-text"><span class="text-muted">Encoded on: </span>{{ pawn.date_encoded|date:"F d, Y (D)"|naturalday|default:'-' }}</p>
                                {% if pawn.transaction_type == 'NEW' %}
                                <p class="card-text"><span class="text-muted">Promised Renewal Date: </span>{{ pawn.promised_renewal_date|date:"F d, Y (D)"|naturalday|default:'-' }}</p>
                                {% endif %}
                                <p class="card-text"><span class="text-muted">Status: </span>{{ pawn.status }}</p>
                                {% if pawn.status == 'RENEWED' and pawn.renewed_to %}
                                <p class="card-text"><a href="{% url 'pawn_detail' pawn.renewed_to.pk  %}">Pawn Ticket # {{ pawn.renewed_to.getPTN }}</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="#" class="btn btn-primary card-link">Print</a>
                                {% if pawn.is_edittable %}
                                <a href="{% url 'edit_pawn' pawn.pk %}" class="btn btn-warning card-link">Edit</a>
                                {% endif %}
                                {% if not pawn.payment_pawn and not user.employee.branch %}
                                <button id="delete_pawn" type="button" class="btn btn-danger card-link">Delete</button>
                                <form id="delete-form" action="{% url 'delete_pawn' pawn.pk %}" method="POST" style="display: none;">{% csrf_token %}</form>
                                {% endif %}
                                &nbsp;&nbsp;&nbsp;
                                {% if 'from' in request.GET %}
                                <a href="{{ request.GET.from }}" class="btn btn-default card-link">Back to list</a>
                                {% else %}
                                <a href="{% url 'pawn_list' %}" class="btn btn-default card-link">Back to list</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card card-success m-4">
                    <div class="card-header">
                        <h4>Payment {%if pawn.status == 'ACTIVE' %}Information{%else%}Details{%endif%}</h4>
                    </div>
                    {%if pawn.status == 'ACTIVE' %}
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-6">Renew/Redeem Date:</div>
                                <div class="col-6 text-right">{{ pawn.renew_redeem_date|date:"F d, Y (D)"|naturalday }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6">Days Elapsed:</div>
                                <div class="col-6 text-right">{{ pawn.getElapseDays }} day{{pawn.getElapseDays|pluralize}}</div>
                            </div>
                            {% if pawn.transaction_type != 'NEW' %}
                            <div class="row mb-4">
                                <div class="col-6">Interest Rate:</div>
                                <div class="col-6 text-right">{{ pawn.getInterestRate }}%</div>
                            </div>
                            {% endif %}
                            <div class="row mb-2">
                                <div class="col-6">Principal:</div>
                                <div class="col-6 text-right">{{ pawn.principal|peso }}</div>
                            </div>
                            {% if pawn.transaction_type == 'NEW' %}
                            <div class="row mb-2">
                                <div class="col-6">Additional Interest Due:</div>
                                <div class="col-6 text-right">{{ pawn.getAdditionalInterest|peso }}</div>
                            </div>
                            {% else %}
                            <div class="row mb-2">
                                <div class="col-6">Interest Due:</div>
                                <div class="col-6 text-right">{{ pawn.getInterest|peso }}</div>
                            </div>
                            {% endif %}
                            {% if pawn.hasPenalty %}
                            <div class="row mb-2">
                                <div class="col-6">Penalty:</div>
                                <div class="col-6 text-right">{{ pawn.getPenalty|peso }}</div>
                            </div>
                            {% endif %}
                            <div class="row mt-4">
                                <div class="col-6 h5">Total Due:</div>
                                <div class="col-6 h5 text-right">{{ pawn.getTotalDue|peso }}</div>
                            </div>
                            {% if pawn.status == 'ACTIVE' %}
                            <div class="row mt-4">
                                <div class="col-6 h5">Minimum Payment for Renewal:</div>
                                <div class="col-6 h5 text-right">
                                    {{ pawn.getMinimumPayment|peso }}
                                    {% if pawn.transaction_type == 'NEW' %}<sup style="color: red;" title="plus advance interest">++</sup>{% endif %}
                                </div>
                            </div>
                            {% if pawn.transaction_type == 'NEW' %}
                            <div class="row mt-2 ml-5 mr-5 text-muted">
                                <div class="col-6">Additional Interest Due:</div>
                                <div class="col-6 text-right">{{ pawn.getAdditionalInterest|peso }}</div>
                            </div>
                            {% else %}
                            <div class="row mt-2 ml-5 mr-5 text-muted">
                                <div class="col-6">Interest Due:</div>
                                <div class="col-6 text-right">{{ pawn.getInterest|peso }}</div>
                            </div>
                            {% endif %}
                            <div class="row mt-2 ml-5 mr-5 text-muted">
                                <div class="col-6">Penalty:</div>
                                <div class="col-6 text-right">{{ pawn.getPenalty|peso }}</div>
                            </div>
                            <div class="row mt-2 ml-5 mr-5 text-muted">
                                <div class="col-6">Service Charge:</div>
                                <div class="col-6 text-right">{{ pawn.getRenewalServiceFee|peso }}</div>
                            </div>
                            {% endif %}
                        </div>
                        {% if pawn.status == 'ACTIVE' %}
                        <div class="card-footer">
                            <a href="{% url 'renew_pawn' pawn.pk %}" class="btn btn-info card-link">Renew</a>
                            <a href="{% url 'redeem_pawn' pawn.pk %}" class="btn btn-dark card-link">Redeem</a>
                        </div>
                        {% endif %}

                    {% else %}
                    
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-6">Principal:</div>
                                <div class="col-6 text-right">{{ pawn.principal|peso }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6">Paid Interest:</div>
                                <div class="col-6 text-right">{{ pawn.payment_pawn.paid_interest|peso }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6">Penalty:</div>
                                <div class="col-6 text-right">{{ pawn.payment_pawn.penalty|peso }}</div>
                            </div>
                            {% if pawn.status == 'RENEWED' %}
                            <div class="row mb-2">
                                <div class="col-6">Service Charge:</div>
                                <div class="col-6 text-right">{{ pawn.payment_pawn.service_fee|peso }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6">Advance Interest:</div>
                                <div class="col-6 text-right">{{ pawn.payment_pawn.advance_interest|peso }}</div>
                            </div>
                            {% endif %}
                            <div class="row mb-2">
                                <div class="col-6">Partial Payment:</div>
                                <div class="col-6 text-right">{{ pawn.payment_pawn.paid_for_principal|peso }}</div>
                            </div>
                            <div class="row mb-2 text-danger">
                                <div class="col-6">LESS Interest Discount:</div>
                                <div class="col-6 text-right">{% if pawn.discount_requested and pawn.discount_requested.status == 'APPROVED' %}{{pawn.discount_requested.amount|peso }}{% else %}{{0|peso}}{%endif%}</div>
                            </div>
                            <div class="row mb-2 text-success">
                                <div class="col-6 h5">Amount Paid:</div>
                                <div class="col-6 h5 text-right">{{ pawn.payment_pawn.amount_paid|peso }}</div>
                            </div>
                            <div class="row mb-2 text-success">
                                <div class="col-6 h5">Payment Date:</div>
                                <div class="col-6 h5 text-right">{{ pawn.payment_pawn.date|date:"F d, Y (D)"|naturalday }}</div>
                            </div>
                        </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock main_content %}


{% block js %}
    <script src="{% static 'js/pawn.js' %}"></script>
    <script>
        $(document).ready(function() {
            
            $("#delete_pawn").click(function() {
                bootbox.confirm({
                    message: "Are you sure you want to delete this ticket?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-default'
                        }
                    },
                    callback: function (result) {
                        if (!result) return;
                        $("#delete-form").submit();
                    }
                });
            });

            $("#menu-transactions").addClass("active")
        })
    </script>
{% endblock js %}