{% extends '../base.html' %}
{% load static %}
{% load humanize %}
{% load form_tags %}

{% block title %}Pawns{% endblock title %}
{% block page_title %}Pawn details{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'pawn_list' %}">Pawns</a></li>
    <li class="breadcrumb-item"><a href="{% url 'pawn_detail' pawn.pk %}">PTN {{ pawn.id|stringformat:"08d" }}</a></li>
    <li class="breadcrumb-item active">Renew</li>
{% endblock breadcrumb %}

{% block main_content %}
    <form id="payment-form" action="{% url 'pawn_payment' pawn.pk %}" method="POST" onsubmit="return validateForm();">
        {% csrf_token %}
        <input type="hidden" name="pawn_id" id="pawn_id" value="{{ pawn.pk }}" />
        <input type="hidden" name="amtToPay" id="amtToPay" />
        <input type="hidden" name="appraised_value" id="appraised_value" value="{{ pawn.appraised_value }}" />
        <input type="hidden" name="transaction_type" id="transaction_type" value="{{ pawn.transaction_type }}" />
        <input type="hidden" name="advIntUri" id="advIntUri" value="{% url 'calculate_advance_interest' %}" />
        
        <div class="card card-success m-4">
            <div class="card-header">
                <h3>RENEW Pawn Ticket # {{ pawn.getPTN }}</h3>
            </div>
            <div class="card-body">
                <h4>{{ pawn.complete_description }}</h4>
                <h5 class="card-subtitle mb-2 text-muted">Under {{ pawn.client }}</h5>
                <hr />
                <div class="col-lg-6 col-md-12">
                    <div class="form-group row">
                        <label for="amount" class="col-sm-4 col-form-label">Principal</label>
                        <div class="col-sm-8">
                            <input type="number" step="0.01" class="form-control text-right" id="principal" name="principal" value="{{ pawn.principal|floatformat:2 }}" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="amount" class="col-sm-4 col-form-label">Interests + Penalties</label>
                        <div class="col-sm-8">
                            <input type="number" step="0.01" class="form-control text-right" id="interestPlusPenalty" name="interestPlusPenalty" value="{{ pawn.getInterestPlusPenalty|floatformat:2 }}" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="discount" class="col-sm-4 col-form-label">LESS: Discount</label>
                        <div class="col-sm-8 input-group">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-outline-secondary" id="request-discount">Request...</button>
                            </div>
                            <input type="number" class="form-control text-right" id="discount" name="discount" value="{{ pawn.discount_requested.amount|floatformat:2 }}" disabled />
                        </div>
                    </div>
                    <div class="form-group row partial-payment">
                        <label for="amount" class="col-sm-4 col-form-label">Additional Principal</label>
                        <div class="col-sm-8">
                            <input type="number" step="0.01" class="form-control text-right" id="additionalPrincipal" name="additionalPrincipal" value="0.00" />
                        </div>
                    </div>
                    {% if pawn.transaction_type == 'NEW' %}
                    <div class="form-group row partial-payment">
                        <label for="amount" class="col-sm-4 col-form-label">Promised Renewal Date <span style="color: red;">*</span></label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="promised_renewal_date" name="promised_renewal_date" />
                        </div>
                    </div>
                    <div class="form-group row partial-payment">
                        <label for="amount" class="col-sm-4 col-form-label">Advance Interest</label>
                        <div class="col-sm-8">
                            <input type="number" step="0.01" class="form-control text-right" id="advanceInterest" name="advanceInterest" value="0.00" disabled />
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group row partial-payment">
                        <div class="col-sm-4">
                            <label for="serviceFee" class="col-form-label">Service Fee</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="number" class="form-control text-right" id="serviceFee" name="serviceFee" value="{{ pawn.getRenewalServiceFee|floatformat:2 }}" disabled />
                        </div>
                    </div>
                    <div class="form-group row partial-payment">
                        <div class="col-sm-4">
                            <label for="partial" class="col-form-label">Partial Payment</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="number" class="form-control text-right" id="partial" name="partial" value="0.00" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="receivable" class="col-sm-4 col-form-label">Minimum Payment</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control text-right" id="receivable" name="receivable" value="{{ pawn.getMinTotalDue|floatformat:2 }}" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tendered" class="col-sm-4 col-form-label">Amount Tendered <span style="color: red;">*</span></label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control text-right" id="tendered" name="tendered" value="0.00" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="change" class="col-sm-4 col-form-label">CHANGE</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control text-right" style="font-size: large;" id="change" name="change" value="0.00" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">Submit</button>
                <a href="{% url 'pawn_detail' pawn.pk %}" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>

{% endblock main_content %}


{% block js %}
    <script src="{% static 'js/pawn.js' %}"></script>
    <script>
        $(document).ready(function() {
            $("#menu-transactions").addClass("active")
        })
    </script>
{% endblock js %}