{% extends '../base.html' %}
{% load static form_tags %}

{% block title %}Pawns{% endblock title %}

{% block page_title %}
{% if pawn %}
Edit Pawn
{% else %}
New Pawn    
{% endif %}
{% endblock page_title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/asterisk_on_required.css' %}">
{% endblock css %}
    

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'pawn_list' %}">Pawns</a></li>
    <li class="breadcrumb-item active">
        
        {% if pawn %}
            Edit
        {% else %}
            New
        {% endif %}
            
    </li>
{% endblock breadcrumb %}

{% block main_content %}
    <div class="card m-4">
        <form method="post" novalidate>
            {% csrf_token %}

            <div class="card-header">
                <h3 class="card-title">Please fill in all the fields marked with an <label class="required">asterisk</label>.</h3>
            </div>

            <div class="card-body">
                {% if not pawn %}
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'new_client' %}" class="btn btn-outline-warning" style="float: right;">New Client</a>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        {% include '../includes/form_one_col.html' %}
                    </div>
                </div>
            </div>
            
            <div class="card-footer">
                
                {% if not pawn %}
                <button type="submit" class="btn btn-primary" name="another">Save and add another</button>
                {% endif %}
                    
                <button type="submit" class="btn btn-success" name="save">Save</button>
                <a href="{% url 'pawn_list' %}" class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            const id = "{{ client.id }}" || null;
            const serviceCharge = parseFloat("{{ otherFees.service_fee }}") || 0;
            const advanceInterest = (parseFloat("{{ otherFees.advance_interest_rate }}") || 0) / 100;

            // set the service charge and advance interest
            $("#id_service_charge").val(serviceCharge.toFixed(2));

            function computeNetProceeds() {
                const principal = parseFloat($("#id_principal").val()) || 0;
                const advInt = principal * advanceInterest;
                const netProceeds = principal - serviceCharge - advInt;
                $("#id_advance_interest").val(advInt.toFixed(2));
                $("#id_net_proceeds").val(netProceeds.toFixed(2));
            }
            // call computeNetProceeds() when principal is changed
            $("#id_principal").on("keyup", computeNetProceeds);

            // if id is not null, then assign client to the dropdown list

            $("#menu-transactions").addClass("active")
        })
    </script>
{% endblock js %}