{% extends '../base.html' %}
{% load static %}

{% block title %}Pawns{% endblock title %}
{% block page_title %}Pawns{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Pawns</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="card m-4">
    <form method="get">
        <div class="card-header">
            <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a href="{% url 'new_pawn' %}" class="btn btn-primary">New</a>
            </div>
            </div>
        </div>
    </form>
    <div class="card-body table-responsive">
        <table id="table" class="table table-hover table-head-fixed table-sm">
            <thead>
                <tr>
                    <th class="text-center">Action</th>
                    <th class="text-center">PTN</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Client</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Principal</th>
                    <th class="text-center">Net Proceeds</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Branch</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock main_content %}


{% block js %}
<script src="{% static 'js/currency-format.js' %}"></script>
<script src="{% static 'js/date-format.js' %}"></script>
    <script>
        $(document).ready(function() {
            const table = $("#table").DataTable({
                serverSide: true,
                sAjaxSource: "{% url 'pawn_dtlist' %}", 
                columns: [
                    {   
                        name: 'action',
                        data: null,
                        render: function (data) {
                            const is_cashier = parseInt("{{ request.user.employee.user_type }}") == 1;
                            const pawnDate = new Date(data[1]);
                            pawnDate.setHours(0, 0, 0, 0);
                            const today = new Date();
                            today.setHours(0, 0, 0, 0);
                            const is_pawn_date_today = pawnDate.getTime() === today.getTime();
                            
                            let links = `<a href="/pawn/${data[0]}/detail" title="Detail"><i class="far fa-eye"></i></a>`;
                            if (!is_cashier || (is_cashier && is_pawn_date_today)) {
                                links += ` | <a href="/pawn/${data[0]}/edit" title="Update"><i class="far fa-edit"></i></a>`;
                            }
                            return links;
                        },
                        className: 'text-center'
                    },
                    {
                        name: 'ptn',
                        data: null,
                        render: function (data) {
                            const ptn = String(data[0]).padStart(6, '0');
                            const type = data[18] == 'NEW' ? 'N' : 'E';
                            return `${type}-${ptn}`
                        }
                    },
                    {
                        name: "date", 
                        data: 1,
                        render: function (data) {
                            return formatDateMMMddYYYY(data);
                        }
                    },
                    {
                        name: "client", 
                        data: null,
                        render: function (data) {
                            return `${data[14]} ${data[15]}, ${data[16]} ${data[17]}`.toUpperCase();
                        }
                    },
                    {
                        name: "description", 
                        data: null,
                        render: function (data) {
                            let description = `${data[3]}pc${data[3] > 1 ? 's' : ''}`
                            if (data[4] != 'Others')
                                description += ` ${data[4]}`
                            if (data[5] != 'Others')
                                description += ` ${data[5]}`
                            if (data[6] != 'Others')
                                description += ` ${data[6]}`
                            if (data[7].length > 0)
                                description += ` ${data[7]}`
                            description += ` ${data[8]}g`
                            return description;
                        }
                    },
                    {
                        name: "principal", 
                        data: 9,
                        render: function (data) {
                            return peso.format(data);
                        },
                        "className": "text-right"
                    },
                    {
                        name: "net", 
                        data: 12,
                        render: function (data) {
                            return peso.format(data);
                        },
                        "className": "text-right"
                    },
                    {
                        name: "status", 
                        data: 13,
                        render: function (data) {
                            return (data && data[0].toUpperCase() + data.slice(1).toLowerCase()) || "";
                        }
                    },
                    {name: 'branch', data: 19},
                ],
                order: [[1, 'desc']],
            });

            const backoffice = parseInt("{% if user.employee.branch %}0{% else %}1{% endif %}") == 0;
            if (backoffice)
                table.column(8).visible(false)
            
            $("#menu-transactions").addClass("active")
        })
    </script>
{% endblock js %}