{% extends '../base.html' %}
{% load static %}
{% load humanize %}
{% load form_tags %}

{% block title %}Pawns{% endblock title %}
{% block page_title %}Pawn details{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'pawn_list' %}">Pawns</a></li>
    <li class="breadcrumb-item active">Details</li>
{% endblock breadcrumb %}

{% block main_content %}
    <div class="card m-4">
        <div class="card-header">
            <h3>Pawn Ticket # {{ pawn.id|stringformat:"08d" }}</h3>
            <hr />
            <h4>{{ pawn.description }}</h4>
            <h5 class="card-subtitle mb-2 text-muted">Under {{ pawn.client }}</h5>
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-lg-6 col-sm-12">
                    <p class="card-text"><span class="text-muted h4">Principal: </span><span class="h4">{{ pawn.principal|peso }}</span></p>
                    <p class="card-text"><span class="text-muted">LESS Service Charge: </span>{{ pawn.service_charge|peso }}</p>
                    <p class="card-text"><span class="text-muted">LESS Advance Interest: </span>{{ pawn.advance_interest|peso }}</p>
                    <p class="card-text"><span class="text-muted">NET PROCEEDS: </span><span class="h5">{{ pawn.net_proceeds|peso }}</span></p>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <p class="card-text"><span class="text-muted">Branch: </span>{{ pawn.branch }}</p>
                    <p class="card-text"><span class="text-muted">Date Pawned: </span>{{ pawn.date|date:"F d, Y (D)"|naturalday|default:'-' }}</p>
                    <p class="card-text"><span class="text-muted">Status: </span>{{ pawn.status }}</p>
                    {% if pawn.staus == 'RENEWED' %}
                    <p class="card-text"><a href="#">Renewed ticket link</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <a href="#" class="btn btn-primary card-link">Print</a>
                <a href="{% url 'edit_pawn' pawn.pk %}" class="btn btn-warning card-link">Edit</a>
                <a href="{% url 'pawn_list' %}" class="btn btn-default card-link">Back to list</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            
            <div class="card ml-4">
                <div class="card-header">
                    <h3>Payment</h3>
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-6">Days Elapsed:</div>
                        <div class="col-4 text-right">{{ pawn.getElapseDays }} day{{daysElapsed|pluralize}}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">Interest Rate:</div>
                        <div class="col-4 text-right">{{ pawn.getInterestRate }}%</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">Interest Due:</div>
                        <div class="col-4 text-right">{{ pawn.getInterest|peso }}</div>
                    </div>
                    {% if pawn.hasPenalty %}
                    <div class="row mb-2">
                        <div class="col-6">Penalty:</div>
                        <div class="col-4 text-right">{{ pawn.getPenalty|peso }}</div>
                    </div>
                    {% endif %}
                    <div class="row mb-2">
                        <div class="col-6 h4">Total Due:</div>
                        <div class="col-4 h4 text-right">{{ pawn.getTotalDue|peso }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6 h4">Minimun Payment for Renewal:</div>
                        <div class="col-4 h4 text-right">{{ pawn.getMinimumPayment|peso }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2"></div>

        <div class="col-4">
            <div class="card card-success mr-4">
                <h4 class="card-header">Payment Details</h4>
                <form action="#" method="POST">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="amount">Amount to Pay<span style="color: red;">*</span></label>
                            <input type="number" class="form-control text-right" id="amount" name="amount" value="{{ pawn.getTotalDue|floatformat:2 }}" required />
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount Tendered<span style="color: red;">*</span></label>
                            <input type="number" class="form-control text-right" id="tendered" name="tendered" value="0.00" required />
                        </div>
                        <div class="form-group">
                            <label for="amount"><button type="button" class="btn btn-outline-dark" id="request-discount">Discount</button></label>
                            <input type="number" class="form-control text-right" id="discount" name="discount" value="0.00" disabled />
                        </div>
                        <div class="form-group">
                            <label for="amount">CHANGE</label>
                            <input type="number" class="form-control text-right" id="change" name="change" value="0.00" disabled />
                        </div>
                    </div>
                    <div class="card-footer">
                        <submit class="btn btn-primary">Pay</submit>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#menu_transactions").addClass("active")
        })
    </script>
{% endblock js %}